body {
    font-family: '华文细黑', '微软雅黑', 'Segoe UI', 'PingFang SC';
    color: #ffffff;
}

h3 {
    margin: 5px 0;
    font-weight: normal;
}

pre {
    font-family: '华文细黑', '微软雅黑', 'Segoe UI', 'PingFang SC';
}

.page {
    position: fixed;
    left: 0;
    width: 100%;
    height: 40px;
}

.page:nth-child(2) {
    top: 0;
}

.page:nth-child(3) {
    bottom: 0;
}

.pageController {
    position: absolute;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -20px;
}

#up {
    display: none;
}

.pageController img {
    height: 20px;
}

#one img {
    width: 120px;
    height: 120px;
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    margin-left: -58px;
    margin-top: -160px;
    display: none;
}

#one .oneText {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    margin-left: -50%;
    display: none;
}

#one p {
    display: block;
    margin: 10px 0;
    text-align: center;
    font-size: 24px;
}

#two .code {
    font-size: 18px;
    line-height: 30px;
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -150px;
    margin-top: 10px;
    height: 0;
    overflow: hidden;
}

#two .keyClass {
    color: #66b7ff;
}

#two .class {
    color: #fffb70;
}

#two .keyFunc {
    color: #ff6c62;
}

#two .func {
    color: #a7ff90;
}

#two .picContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40%;
    margin-top: 10px;
    height: 0;
    width: 80%;
    overflow: hidden;
}

#two img {
    width: 100%;
}

#three img {
    display: block;
    position: absolute;
    left: 50%;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
}