body {
    font-family: '微软雅黑', 'Segoe UI', '华文细黑', 'PingFang SC';
    color: #ffffff;
}

h3 {
    margin: 5px 0;
    font-weight: normal;
    font-size: 35px;
}

pre {
    font-family: '华文细黑', '微软雅黑', 'Segoe UI', 'PingFang SC';
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
}

#tac2016 img {
    width: 240px;
    height: 240px;
    position: absolute;
    z-index: 100;
    left: 50%;
    top: 50%;
    margin-left: -120px;
    margin-top: -320px;
    display: none;
}

#tac2016 .oneText {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    margin-left: -50%;
    display: none;
}

#tac2016 p {
    display: block;
    margin: 10px 0;
    text-align: center;
    font-size: 40px;
}

#tac {
    text-align: center;
}

#tac h3 {
    text-align: left;
}

#tac .center {
    margin-top: -444px;
    margin-left: -172px;
}

#tac img {
    position: relative;
    height: calc((100% - 206px) / 4);
    margin: 15px auto;
}

#tac img:nth-child(1), #tac img:nth-child(5) {
    left: -1500px;
}

#tac img:nth-child(3) {
    left: 1500px;
}

#workshop .code {
    font-size: 30px;
    letter-spacing: 4px;
    line-height: 35px;
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -206px;
    margin-top: 50px;
    height: 0;
    overflow: hidden;
}

#workshop .keyClass {
    color: #66b7ff;
}

#workshop .class {
    color: #fffb70;
}

#workshop .keyFunc {
    color: #ff6c62;
}

#workshop .func {
    color: #a7ff90;
}

#workshop .picContainer {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    margin-left: -50%;
    margin-top: -50px;
    height: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

#workshop img {
    text-align: center;
    width: 600px;
}

#technology {
    transform-style: preserve-3d;
    -webkit-perspective: 200px;
}

#technology table {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -370px;
}

#technology table td {
    box-sizing: border-box;
    height: 180px;
    width: 180px;
    padding: 10px;
}

#technology table img {
    height: 160px;
}

#technology table h3 {
    text-align: center;
    display: none;
}

.up {
    -webkit-transform: translateZ(200px);
    -moz-transform: translateZ(200px);
    -ms-transform: translateZ(200px);
    -o-transform: translateZ(200px);
    transform: translateZ(200px);
}

.drop {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}


#tacPic .bg {
    width: 90%;
    height: calc(100% - 106px);
    margin: 0 5%;
    background-size: cover;
    background-position: 30% 50%;
    background-image: url('images/tac.jpg');
}

#workshopPic .bg {
    width: 90%;
    height: calc(100% - 106px);
    margin: 0 5%;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('images/workshop.JPG');
}

#welcome h1 {
    font-size: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -80px;
    margin-left: -187px;
    display: none;
}

#welcome h2 {
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 0;
    margin-left: -55px;
    display: none;
}

@media (max-height: 940px) {
    h3 {
        margin: 5px 0;
        font-size: 25px;
    }

    #tac .center {
        margin-top: -225px;
        margin-left: -102px;
    }

    #tac img {
        height: 150px;
    }

    #workshop .code {
        font-size: 22px;
        letter-spacing: 3px;
        line-height: 28px;
        margin-left: -153px;
        margin-top: 20px;
    }

    #workshop img {
        margin-top: 40px;
        width: 400px;
    }

    #technology table {
        margin-top: -180px;
    }

    #technology table td {
        height: 120px;
        width: 120px;
    }

    #technology table img {
        height: 100px;
    }
}